$primary-color: #21BC6B;

body {
    height: 5.75rem;

    padding: 1.125rem 4.25rem;

    background-color: $primary-color;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
    }

    ul {
        display: flex;
        gap: 3rem;
    }
}

