$primary-color: #21BC6B;
$font-color: #fff;

* {
    color: $font-color;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

body {
    height: 5.75rem;

    padding: 1.125rem 4.25rem;

    background-color: $primary-color;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        gap: .75rem;

        p {
            width: 10rem;
            font-weight: 600;
            line-height: 1.3rem;
        }
    }

    ul {
        display: flex;
        gap: 3rem;

        list-style-type: none;

        li {
            display: flex;
            align-items: center;
            gap: 0.3rem;

            cursor: pointer
        }
    }
}

