<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <img src="mochila-branca.svg" alt="Mochila branca">
        <p>Guia do mochileiro fatecano</p>
    </div>
    <nav>
        <ul>
            <li routerLink="/home">
                <img src="home.svg" alt="Casinha.">
                <p>Home</p>
            </li>
            <li routerLink="#">
                <img src="sino.svg" alt="Sino.">
                <p>Notificações</p>
            </li>
            <li routerLink="#">
                <img src="livro.svg" alt="Livro.">
                <p>Matérias</p>
            </li>
            <li routerLink="#">
                <img src="estrela.svg" alt="Estrela.">
                <p>Valores</p>
            </li>
            <li routerLink="/">
                <img src="log-out.svg" alt="Sair.">
                <p>Sair</p>
            </li>
        </ul>
    </nav>
</body>
</html>