<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <img src="mochila-branca.svg" alt="Mochila branca">
        <p>Guia do mochileiro fatecano</p>
    </div>
    <nav>
        <ul>
            <li>
                <img src="home.svg" alt="Casinha.">
                <a href="#">Home</a>
            </li>
            <li>
                <img src="sino.svg" alt="Sino.">
                <a href="#">Notificações</a>
            </li>
            <li>
                <img src="livro.svg" alt="Livro.">
                <a href="#">Matérias</a>
            </li>
            <li>
                <img src="estrela.svg" alt="Estrela.">
                <a href="#">Valores</a>
            </li>
            <li>
                <img src="log-out.svg" alt="Sair.">
                <a href="#">Sair</a>
            </li>
        </ul>
    </nav>
</body>
</html>