<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>

    <main>
        <div class="container">
            <div class="texto-container">
                <h1>Termos</h1>
                <p>Qual termo gostaria de acessar hoje?</p>
            </div>

            <div class="adicionar-turma">
                <img src="adição.svg" alt="Sinal de adição">
                <p>Adicionar turma</p>
            </div>
        </div>

        <div class="grupo">
            <div class="card card1 justify-start">
                <h2>1° Termo</h2>
            </div>
            <div class="card card2 justify-center">
                <h2>2° Termo</h2>
            </div>
            <div class="card card3 justify-end">
                <h2>3° Termo</h2>
            </div>
            <div class="card card4 justify-start">
                <h2>4° Termo</h2>
            </div>
            <div class="card card5 justify-center">
                <h2>5° Termo</h2>
            </div>
            <div class="card card6 justify-end">
                <h2>6° Termo</h2>
            </div>
        </div>

    </main>

</body>
</html>