<p routerLink="./register" class="link">{{ texto }}</p>

<body>
    <img src="" alt="">
    <div class="form-container">
        <img src="" alt="">
        <h1>Guia do Mochileiro Fatecano</h1>
        <form action="">
            <div class="label-input">
                <label for="">E-mail</label>
                <input type="text" placeholder="Digite seu e-mail">
            </div>
            <div class="label-input">
                <label for="">E-mail</label>
                <input type="text" placeholder="Digite seu e-mail">
            </div>
            <button>Entrar</button>
        </form>
        <p>Ainda não possui conta? <a href="">Cadastre-se</a></p>
    </div>
</body>